<div class="row mt-4">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo1();">Demo 01</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo2();">Demo 02</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo3();">Demo 03</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo4();">Demo 04</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-3">
        <div class="card bg-light border-secondary m-2">
            <div class="card-header">
                <h4 class="card-title">Código: T510</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <img src="~/images/premium.png" class="mx-auto d-block img-fluid" />
                    </div>
                    <div class="col-4">
                        <p class="text-end">
                            <br />orden: 1
                            <br />activo: Si
                        </p>
                    </div>
                </div>
                <div style="height:200px; overflow:auto">
                    <h4 class="text-center">Tutoriales Premium</h4>
                    <p class="card-text">
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                    </p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-danger" style="width:150px">Retirar</a>
                <a href="#" class="btn btn-primary" style="width:150px">Actualizar</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-3">
        <div class="card bg-light border-secondary m-2">
            <div class="card-header">
                <h4 class="card-title">Código: T510</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <img src="~/images/apis.png" class="mx-auto d-block img-fluid" />
                    </div>
                    <div class="col-4">
                        <p class="text-end">
                            <br />orden: 1
                            <br />activo: Si
                        </p>
                    </div>
                </div>
                <div style="height:200px; overflow:auto">
                    <h4 class="text-center">Tutoriales Premium</h4>
                    <p class="card-text">
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                    </p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-danger" style="width:150px">Retirar</a>
                <a href="#" class="btn btn-primary" style="width:150px">Actualizar</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-3">
        <div class="card bg-light border-secondary m-2">
            <div class="card-header">
                <h4 class="card-title">Código: T510</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <img src="~/images/platinum.png" class="mx-auto d-block img-fluid" />
                    </div>
                    <div class="col-4">
                        <p class="text-end">
                            <br />orden: 1
                            <br />activo: Si
                        </p>
                    </div>
                </div>
                <div style="height:200px; overflow:auto">
                    <h4 class="text-center">Tutoriales Premium</h4>
                    <p class="card-text">
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                    </p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-danger" style="width:150px">Retirar</a>
                <a href="#" class="btn btn-primary" style="width:150px">Actualizar</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-3">
        <div class="card bg-light border-secondary m-2">
            <div class="card-header">
                <h4 class="card-title">Código: T510</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <img src="~/images/gold.png" class="mx-auto d-block img-fluid" />
                    </div>
                    <div class="col-4">
                        <p class="text-end">
                            <br />orden: 1
                            <br />activo: Si
                        </p>
                    </div>
                </div>
                <div style="height:200px; overflow:auto">
                    <h4 class="text-center">Tutoriales Premium</h4>
                    <p class="card-text">
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                    </p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-danger" style="width:150px">Retirar</a>
                <a href="#" class="btn btn-primary" style="width:150px">Actualizar</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-3">
        <div class="card bg-light border-secondary m-2">
            <div class="card-header">
                <h4 class="card-title">Código: T510</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <img src="~/images/mini.png" class="mx-auto d-block img-fluid" />
                    </div>
                    <div class="col-4">
                        <p class="text-end">
                            <br />orden: 1
                            <br />activo: Si
                        </p>
                    </div>
                </div>
                <div style="height:200px; overflow:auto">
                    <h4 class="text-center">Tutoriales Premium</h4>
                    <p class="card-text">
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                    </p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-danger" style="width:150px">Retirar</a>
                <a href="#" class="btn btn-primary" style="width:150px">Actualizar</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-3">
        <div class="card bg-light border-secondary m-2">
            <div class="card-header">
                <h4 class="card-title">Código: T510</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <img src="~/images/rupuml.png" class="mx-auto d-block img-fluid" />
                    </div>
                    <div class="col-4">
                        <p class="text-end">
                            <br />orden: 1
                            <br />activo: Si
                        </p>
                    </div>
                </div>
                <div style="height:200px; overflow:auto">
                    <h4 class="text-center">Tutoriales Premium</h4>
                    <p class="card-text">
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                        lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus lorem impus
                    </p>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-danger" style="width:150px">Retirar</a>
                <a href="#" class="btn btn-primary" style="width:150px">Actualizar</a>
            </div>
        </div>
    </div>
</div>