<div class="row mt-4">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo1();">Demo 01</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo2();">Demo 02</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="demo3();">Demo 03</button>
    </div>
</div>